* {
    box-sizing: border-box;
    margin: 0;     
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #4A708B;
    padding: 20px;
    text-align: center;
}

.header-title {
    font-size: 2.5em;
    color: #ffffff;
    margin: 0;
}

.navbar {
    margin-top: 10px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.nav-list a:hover {
    color: #c0c0c0;
}

.content-section {
    background-color: #ffffff;
    padding: 40px 60px;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    text-align: center;
}

.content-section h2 {
    color: #4A708B;
    margin-bottom: 20px;
    font-size: 2em;
}

.content-section p,
.content-section ul {
    color: #333333;
    font-size: 1.2em;
    line-height: 1.6;
}

.content-section ul {
    list-style: none;
}

.content-section ul li {
    margin-bottom: 10px;
}

.content-section a {
    color: #4A708B;
    text-decoration: none;
    transition: border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;
}

.content-section a:hover {
    border-bottom: 2px solid #4A708B;
}

footer {
    background-color: #4A708B;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 1em;
    margin: 0;
}
